[user]
    name = AUTHORNAME
    email = AUTHOREMAIL 
[credential]
    helper = GIT_CREDENTIAL_HELPER
[hub]
    protocol = https
[alias]
    co = checkout
    st = status
    br = branch
    ci = commit
    w  = whatchanged
    df = diff
    go = checkout -B
    unstage = reset HEAD
    show-graph = log --graph --abbrev-commit --pretty=oneline
    count = !git shortlog -sn
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
    excludesfile = ~/.cvsignore
    pager = less -FRSX
    whitespace = space-before-tab,indent-with-non-tab,trailing-space
[apply]
    whitespace = nowarn
[format]
    pretty = %C(yellow)%h%Creset %s %C(red)(%cr)%Creset
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
[mergetool]
    keepBackup = false
[diff]
    renames = copies
    mnemonicprefix = true
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to surpress warning message
    default = simple
