._*
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store*
.env
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
src/vim/vim.symlink/autoload/
src/vim/vim.symlink/backups/*
src/vim/vim.symlink/plugs/*
src/vim/vim.symlink/swaps/*
src/vim/vim.symlink/undos/*
