# This group is read by the server. Use it for options that only affect the
# server.
#-------------------------------------------------------------------------------#

[server]

[mysqld]

auto_increment_increment            = 1

# Logging
general_log                         = 0
general_log_file                    = /opt/homebrew/var/log/mysql.log

# Fine Tuning
bulk_insert_buffer_size             = 16M
concurrent_insert                   = 2
connect_timeout                     = 5
key_buffer_size                     = 256M
max_allowed_packet                  = 256M
max_heap_table_size                 = 512M
myisam_sort_buffer_size             = 128M
read_buffer_size                    = 2M
read_rnd_buffer_size                = 8M
sort_buffer_size                    = 8M
table_definition_cache              = 4096
table_open_cache                    = 4096
thread_cache_size                   = 256
thread_concurrency                  = 3
thread_stack                        = 400k
tmp_table_size                      = 512M
wait_timeout                        = 1200

# Query cache
query_cache_limit                   = 2M
query_cache_size                    = 64M
query_cache_type                    = 1

# InnoDB
innodb_autoextend_increment         = 128
innodb_buffer_pool_size             = 4G
innodb_data_file_path               = ibdata1:512M;ibdata2:256M:autoextend
innodb_log_file_size                = 256M
innodb_flush_log_at_trx_commit      = 2
innodb_thread_concurrency           = 4

[mysqldump]
max_allowed_packet                  = 256M
quick
quote-names
